<!-- SISS-content-tabs not actually implemented -->
			<div class="SISS-content-tabs"> 
				<ul id="myTab" class="nav nav-tabs">
					<li class="active"><a href="#hardware" data-toggle="tab">Hardware</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="./host-info.html">System Info <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#systemInfo" data-toggle="tab">General</a></li>
							<li><a href="#etc" data-toggle="tab">/etc</a></li>
							<li><a href="#proc" data-toggle="tab">/proc</a></li>
							<li><a href="#sys" data-toggle="tab">/sys</a></li>
							<li class="divider"></li>
							<li><a href="#systemInfoAll" data-toggle="tab">All Details</a></li>
						</ul>
					</li>
					<li><a href="#networkInfo" data-toggle="tab">Network</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Product Specific <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="./ufm-info.html">UFM</a></li>
							<li><a href="./vsa-info.html">VSA</a></li>
							<li><a href="./vma-info.html">VMA</a></li>
							<li><a href="./fca-info.html">FCA</a></li>
						</ul>
					</li>
				</ul>

<!-- here starts the tab content -->
				<div id="myTabContent" class="tab-content">
					{{#tabs}}
						<div id="{{tab-id}}" class="tab-pane fade in active">
							<div class="row-fluid" style="min-height: 350px;">
								{{#columns}}
									<div class="{{span-size}} {{offset-position}}">	
										{{#commands}}
											<a class="btn btn-small btn-block {{button-type}}" href="#{{name}}">{{name}}</a>
										{{/commands}}
									</div>
								{{/columns}}
							</div>
						</div>
					{{/tabs}}
				</div><!--/tab-content-->
			</div>

<!-- sysinfo details start here -->

<hr>


{{>command-output}}   
 


  </body>
</html>
