

					{{#tabs}}
					<div id="{{tab-id}}" class="tab-pane fade in active">
						<div class="row-fluid" style="min-height: 350px;">
							{{#columns}}
							<div class="{{span-size}} {{offset-position}}">	
								{{#commands}}
								<a class="btn btn-small btn-block {{button-type}}" href="#{{name}}">{{name}}</a>
								{{/commands}}
							</div>
							{{/columns}}
						</div>
					</div>
					{{/tabs}}
