<script id="masthead" type="text/html">
				
<!-- might be a better way to do this -->
				<div class="row-fluid">
					<div class="span3"><a href="./index.html"><img src="./assets/img/logo-long.png" alt="Mellanox Technologies"></a></div>
					<div class="span4 pull-right text-right"><h3>SysInfoSnapshot</h3></div>
				</div>
				
<!-- begin navigation bar -->				
				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav"><!--esxi,windows-->
								<li><a href="./host-info.html">Host Info</a></li>
								<li><a href="./fabric-info.html">Fabric Info</a></li>
								<li><a href="./switch-info.html">Switch Info</a></li>
								<li><a href="./tuning-review.html">Tuning Review</a></li>
							</ul>
						</div>
					</div>
				</div><!-- /.navbar -->
			</div><!-- /.masthead -->
</script>
